node_modules
.vscode
.git
npm-debug.log
cd-BUILD.sh
cd-RELEASE.sh
docker-extract
TestResults
bin/
obj/
target/
**/docker-compose*
!docker-compose.dcproj
!docker-compose.cd-deploy*
!docker-compose.env*